/* universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common class */
.container {
    max-width: 1460px;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

section img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    width: 218px;
    display: block;
}

h1,
.heading-1 {
    font-size: 72px;
    font-weight: 700;
    color: #ffffff;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}

h2,
.heading-2 {
    font-size: 60px;
    font-weight: 500;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}

h3,
.heading-3 {
    font-size: 50px;
    font-weight: 400;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}

h4,
.heading-4 {
    font-size: 40px;
    font-weight: 300;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}

h5,
.heading-5 {
    font-size: 30px;
    font-weight: 300;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}

h6,
.heading-6 {
    font-size: 20px;
    font-weight: 200;
    color: #000000;
    margin: 0 0 20px;
    text-transform: capitalize;
    line-height: 1.2;
}

p {
    font-size: 16px;
    font-weight: 100;
    color: #000000;
    margin: 0 0 20px;
    line-height: 1.2;
    text-transform: capitalize;
}

.cmn-gap {
    padding: 120px 0;
}

/* navbar starts */
.nav-links li a {
    display: block;
    text-transform: capitalize;
    color: #000000;
}

.nav-links li a:hover {
    color: #03A6A6;
}

.cmn-btn {
    display: inline-block;
    padding: 22px 27px;
    border-radius: 53px;
    color: #000000;
    font-size: 15px;
    letter-spacing: 2.0px;
    text-transform: capitalize;
    font-weight: 600;
    border: 1px solid;
}

.cmn-btn:hover {
    background-color: #03A6A6;
    color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.nav-links {
    display: flex;
    margin-left: auto;
}

.nav-links li {
    margin: 0 36px 0 0;
}

.login-link {
    text-transform: capitalize;
    font-weight: 700;
    color: #000000;
    margin: 0 36px 0 0;
}

.login-link:hover {
    color: #03A6A6;
}

.nav-links li a i {
    margin-right: 7px;
}

/* navbar ends */
/* banner starts */
.banner {
    min-height: 100vh;
    /* min-height: calc(100vh-100px); */
    background: url(../image/banner.image.png);
    display: flex;
    align-items: center;
    background-position: center;
    background-size: cover;
}

.banner-child {
    width: 50%;
}

span {
    text-transform: uppercase;
}

.banner-child p {
    text-transform: capitalize;
    font-style: italic;
    color: #ffffff;
}

.ban-btn {
    color: #ffffff;
    letter-spacing: 2.0px;
    font-weight: 500;
    padding: 22px 30px;
    margin-right: 18px;
}

.ban-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

.banner-sec-button .cmn-btn {
    color: #ffffff;
    padding: 22px 33px;
    letter-spacing: 2.0px;
    font-weight: 500;
}

.banner-sec-button .cmn-btn:hover {
    background-color: #ffffff;
    color: #000000;
}

/* banner ends */
/* card section starts */
.card-upper {
    text-align: center;
    margin: 50px 0;
}

.card-child {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cmn-card {
    width: 33.33%;
    position: relative;
    overflow: hidden;
}

.card-child img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}

.card {
    padding-bottom: 0;
}

.card-text {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.8),
            transparent);
}

.card span {
    letter-spacing: 5px;
}

.card h3 {
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    color: white;
}

.card-child p {
    color: #ffffff;
    font-weight: 0;
    margin-bottom: 0;
}

/* card section ends */
/* about starts */
.about {
    background: linear-gradient(to top,
            rgba(237, 234, 255, 1),
            rgba(241, 241, 225, 0.3));
}

.about-child {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -43px;
}

.left,
.right {
    width: 50%;
    padding: 0 43px;
}

.right {
    display: flex;
    align-items: center;
}

.inner-text {
    width: 60%;
}

.span-text {
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.right h2 {
    font-weight: 700;
    text-transform: capitalize;
}

.right p {
    text-transform: capitalize;
}

.abt-btn {
    font-weight: 300;
    border-radius: 60px;
}

.abt-btn:hover {
    background-color: #000000;
    color: #ffffff;
}

/* about ends */
/* Extra about starts */
.extra-about {
    height: 618px;
    background: url(../image/features-image.png);
    display: flex;
    align-items: center;
    background-position: center;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    background-size: cover;
}

.extra-about-child {
    max-width: 450px;
    padding: 20px;
}

.extra-about-child .span-text {
    color: #ffffff;
}

.extra-about-child h2 {
    color: #ffffff;
}

.extra-about-child p {
    text-transform: capitalize;
    color: #ffffff;
}

.extra-btn {
    color: #ffffff;
    font-weight: 300;
    padding: 22px 34px;
}

.extra-btn:hover {
    background-color: #ffffff;
    color: black;
}

/* Extra about ends */
/* features section starts */
.features {
    background: linear-gradient(to top,
            rgba(234, 230, 255, 0.8),
            rgba(198, 225, 249, 0.3));
}

.features-child {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -63px;
}

.features-left,
.features-right {
    width: 50%;
    padding: 0 63px;
}

.features-right {
    display: flex;
    align-items: center;
}

.features-inner-text {
    max-width: 500px;
}

.span-text2 {
    font-size: 16px;
    letter-spacing: 4px;
    display: block;
    margin-bottom: 8px;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.features-grid li a {
    color: #000000;
    text-transform: capitalize;
}

.checkmark {
    color: #03A6A6;
    margin-right: 5px;
}

.features-btn {
    padding: 23px 25px;
    margin-top: 20px;
    font-weight: 200;
    letter-spacing: 3px;
}

.features-btn:hover {
    background-color: #000000;
    color: #F9F9FF;
}

/* features section ends */
/*  our clients section starts */
.clients {
    background: linear-gradient(to top,
            rgb(237, 234, 255, 0.8),
            rgba(180, 224, 248, 0.4));
}

.our-clients {
    display: flex;
    letter-spacing: 6px;
    justify-content: center;
    align-items: center;
}

.clients-logos img {
    width: 182px;
    display: block;
    margin-right: 109px;
}

.clients-logos {
    display: flex;
    margin-top: 50px;
}

/* our clients section ends */
/* footer starts */
.footer {
    background-color: #F9F9FF;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    padding: 78px 0 0;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

.footer-top div {
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 500;
}

.footer-top p {
    color: #000000;
    max-width: 800px;
    font-size: 16px;
}

.ftr-btn {
    display: inline-block;
    padding: 22px 27px;
    border-radius: 53px;
    color: #000000;
    font-size: 15px;
    letter-spacing: 2.0px;
    text-transform: capitalize;
    font-weight: 600;
    border: 1px solid;
}

.ftr-btn:hover {
    background-color: #000000;
    color: #F9F9FF;
}

.footer-middle {
    text-align: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

.footer-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 27px 0;
}

.footer-links li {
    margin: 0 50px 0 0;
}

.footer-links a {
    color: #000000;
    font-size: 15px;
    text-transform: capitalize;
}

.footer-links a:hover {
    color: #03A6A6;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin: 21px 0;
}

.social-icons li {
    border: 1px solid #000000;
    margin-right: 12px;
    padding: 9px 13px;
    border-radius: 50%;
}

.social-icons a {
    color: #000000;
}

.social-icons a:hover {
    color: #03A6A6;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
    flex-wrap: wrap;
    text-transform: capitalize;
}

.footer-bottom div a {
    color: #000000;
    text-transform: capitalize;
}

.policy-links a {
    text-transform: capitalize;
    margin-right: 15px;
    color: #000000;
}

.policy-links a:hover {
    color: #03A6A6;
}

/* footer ends */